table { width: 100%; border-collapse: collapse; }
th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd;}
th {
    background-color: #f7ecf5;
}
tr:hover { background-color: rgba(255, 255, 255, 0.701); }
.error { color: red; }
h1 {color: #6c2f59;}
button {
    border: #401733;
    cursor:pointer;
    border-radius: 20px;
    width: 160px;
}
a {
    text-decoration: none;
    color: black;
}